<section class="container">div class="notification bottom-fix with-icon allert" role="alert" aria-labelledby="not2e-title" id="not2e">
		<h5 id="not2e-title"><svg class="icon"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-check-circle"></use></svg>Bottom fix</h5>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</p>
    <button type="button" class="btn notification-close">
					<svg class="icon"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-close"></use></svg>
					<span class="sr-only">Chiudi notifica: Titolo notifica</span>
				</button>
</div></section><