
<section class="container" id="allerta">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Allerta meteo!</h4>
        <p>ALLERTA REG.LE (di Test): DALLE ORE XX DEL YY/ZZ ALLE ORE YY DEL KK/ZZ ALLERTA ABCDEF SU ZONE C E D, IN PARTICOLARE BASSA PIANURA E COSTA, PER PIOGGE LOCALMENTE INTENSE, ANCHE TEMPORALESCHE. MASSIMA VIGILANZA</p>
        <hr>
        <a class="btn btn-primary" href="#" role="button">Allerta</a>
        <a class="btn btn-secondary" href="#" role="button">Bollettino</a>
        <button type="button" class="float-right btn btn-danger" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">Chiudi</span>
        </button>
    </div>
</section>