<section class="container">
    <div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Allerta meteo!</h4>
  <p>ALLERTA REG.LE (di Test): DALLE ORE XX DEL YY/ZZ ALLE ORE YY DEL KK/ZZ ALLERTA ABCDEF SU ZONE C E D, IN PARTICOLARE BASSA PIANURA E COSTA, PER PIOGGE LOCALMENTE INTENSE, ANCHE TEMPORALESCHE. MASSIMA VIGILANZA</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <hr>
  <a class="btn btn-primary" href="#" role="button">Link</a>
        <a class="btn btn-secondary" href="#" role="button">Link</a>
</div>
</section>