<section id="argomenti_evidenza">
					<div class="widget">
						<div class="argomenti-foto">
							<div class="container">
									<div class="row">
										<div class="col-md-12">
											<h3 class="titolosezione">
												Argomenti in evidenza
											</h3>
										</div>
									</div>
							</div>
						</div>
						<div class="container">
							<div class="row row-eq-height mt-128n">
								<div class="col-md-4">
									<article class="scheda scheda-round">
										<div class="scheda-icona">
											<svg class="icon"><use xlink:href="{{ site.baseurl }}/assets/img/ponmetroca.svg#ca-local_library"></use></svg>
										</div>
										<div class="scheda-testo">
											<h4><a href="argomento_cultura.html" title="Vai alla pagina: Cultura">Cultura</a></h4>
											<p>Attivit&agrave; di programmazione, realizzazione e promozione di iniziative culturali, manifestazioni e spettacoli.</p>
										</div>
										<div class="scheda-footer">
											<a aria-label="Esplora argomento - Vai alla pagina Cultura" href="argomento_cultura.html" title="Vai alla pagina: Cultura" class="tutte">Esplora argomento <svg class="icon"><use xlink:href="{{ site.baseurl }}/assets/img/ponmetroca.svg#ca-arrow_forward"></use></svg></a>
										</div>
									</article>
								</div>
								<div class="col-md-4">
									<article class="scheda scheda-round">
										<div class="scheda-icona">
											<svg class="icon"><use xlink:href="{{ site.baseurl }}/assets/img/ponmetroca.svg#ca-airplane"></use></svg>
										</div>
										<div class="scheda-testo">
											<h4><a href="#" title="Vai alla pagina: Turismo">Turismo</a></h4>
											<p>Info e guide su come arrivare, dove dormire, dove mangiare, cosa fare a Cagliari, gli eventi e gli itinerari.</p>
										</div>
										<div class="scheda-footer">
											<a aria-label="Esplora argomento - Vai alla pagina Turismo" href="#" title="Vai alla pagina: Turismo" class="tutte">Esplora argomento <svg class="icon"><use xlink:href="{{ site.baseurl }}/assets/img/ponmetroca.svg#ca-arrow_forward"></use></svg></a>
										</div>
									</article>
								</div>
								<div class="col-md-4">
									<article class="scheda scheda-round">
										<div class="scheda-icona">
											<svg class="icon"><use xlink:href="{{ site.baseurl }}/assets/img/ponmetroca.svg#ca-directions_bike"></use></svg>
										</div>
										<div class="scheda-testo">
											<h4><a href="#" title="Vai alla pagina: Sport">Sport</a></h4>
											<p>Gli impianti, i contributi per le societ&agrave; sportive, gli eventi sportivi, le domande per l&rsquo;autorizzazione di eventi presso gli impianti comunali e all'aperto.</p>
										</div>
										<div class="scheda-footer">
											<a aria-label="Esplora argomento - Vai alla pagina Sport" href="#" title="Vai alla pagina: Sport" class="tutte">Esplora argomento <svg class="icon"><use xlink:href="{{ site.baseurl }}/assets/img/ponmetroca.svg#ca-arrow_forward"></use></svg></a>
										</div>
									</article>
								</div>
							</div>
							<div class="row">
								<div class="offset-md-2 col-md-8 offset-md-2 col-sm-12">
									<div class="argomenti altri-argomenti">
										<div class="altri-argomenti-titolo">
											<h4>Altri argomenti</h4>
										</div>
										<div class="altri-argomenti-elenco">
											<a href="argomento_cultura.html" title="Vai all'argomento: Istruzione" class="badge badge-pill badge-argomenti">Istruzione</a>
											<a href="#" title="Vai all'argomento: Gestione dei rifiuti" class="badge badge-pill badge-argomenti">Gestione dei rifiuti</a>
											<a href="#" title="Vai all'argomento: Integrazione sociale" class="badge badge-pill badge-argomenti">Integrazione sociale</a>
										</div>
										<div class="altri-argomenti-tutti">
											<a href="argomenti.html" title="Vai alla pagina: Argomenti in evidenza" class="btn btn-default btn-verde">Vedi tutti</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
    </section>