{% assign posts = site.posts | where: "lang", page.lang %}
<section id="home-novita">
                    <div class="container">
                        <div class="mt-88n">
							<div class="widget">
								<div> 
									<div class="row row-eq-height">
                                        {% for post in posts %}
										<div class="col-md-4">
											<article class="scheda scheda-round">
												<div class="scheda-icona-small">
													<a href="#" title="Vai alla pagina: Comunicati stampa" class="">
														<svg class="icon">
															<use xlink:href="{{ site.baseurl }}/assets/img/ponmetroca.svg#ca-today"></use>
														</svg>
														{{ category }}
													</a>
												</div>
												<div class="scheda-testo-small">
													<h4><a href="#" title="Vai alla pagina: L'ITS Città Metropolitana ha avviato una procedura di selezione">{{ post.title }}</a></h4>
													<p>{{ post.excerpt }}</p>
												</div>
												<div class="scheda-footer">
													<a href="novita.html" title="Vai alla pagina: Novità" class="tutte">Tutte le novità
														<svg class="icon"><use xlink:href="{{ site.baseurl }}/assets/img/ponmetroca.svg#ca-arrow_forward"></use></svg>
													</a>
												</div>
											</article>
										</div>
                                        {% endfor %}
									</div>
								</div>
							</div>
						</div>
	                </div>
				</section>