{% assign posts = site.posts | where: "lang", page.lang % | where: "category", "notizie"}

<section id="head-section">
    <div class="container">
      <div class="row">
          {% for post in posts limit:1 %}
        <div class="col-lg-6 offset-lg-1 order-lg-2">
          <img src="https://picsum.photos/800/600" title="img title" alt="imagealt" class="img-fluid">
        </div>
        <div class="col-lg-5 order-lg-1">
          <div class="card">
            <div class="card-body pb-5">
              <div class="category-top">
                <svg class="icon">
                  <use xlink:href="/{{ site.baseurl }}/assets//bootstrap-italia/dist/svg/sprite.svg#it-calendar"></use>
                </svg>
                <a class="category" href="/notizie">Notizie</a>
                <span class="data">{{ post.date }}8</span>
              </div>
              <h1 class="h4 card-title">{{ post.title }}</h1>
              <p class="card-text">{{ post.excerpt }}</p>
              <div class="chip chip-simple chip-primary">
                <a href="#" class="chip-label">Estate in città</a>
              </div>
              <a class="read-more pb-3" href="/notizie">
                <span class="text">Tutte le novità</span>
                <svg class="icon">
                  <use xlink:href="/{{ site.baseurl }}/assets//bootstrap-italia/dist/svg/sprite.svg##it-arrow-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
          {% endfor %}
      </div>
    </div>
  </section>