<div id="main_container">
				
				<section id="calendario">
					<div class="widget ng-scope" data-ng-controller="FiltriController">
						<div class="container">
							<div class="row">
								<div class="col-md-3">
									<h3>Calendario</h3>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<h4 aria-hidden="false">Settembre 2019</h4>
									<div id="owl-calendario" class="owl-carousel owl-center owl-theme owl-loaded owl-drag" role="tablist">
										<div class="owl-stage-outer">
											<div class="owl-stage">
												<div class="owl-item active">
													<div class="scheda-calendario">
														<div class="scheda-calendario-data ng-binding">
															<strong>18</strong> mer
														</div>
														<ul class="scheda-calendario-lista">
															<li aria-hidden="false">
																Eventi culturali - 
																<a href="#" title="Vai all'appuntamento: Monumenti &amp; Stelle 2019" class="">Monumenti &amp; Stelle 2019</a>
															</li>
														</ul>
													</div>
												</div>
												<div class="owl-item active">
													<div class="scheda-calendario">
														<div class="scheda-calendario-data">
															<strong>25</strong> mer
														</div>
														<ul class="scheda-calendario-lista">
															<li aria-hidden="false">
																Eventi culturali - 
																<a href="#" title="Vai all'appuntamento: Forma e Poesia nel Jazz">Forma e Poesia nel Jazz</a>
															</li>
														</ul>
													</div>
												</div>
												<div class="owl-item active">
													<div class="scheda-calendario">
														<div class="scheda-calendario-data">
															<strong>26</strong> gio
														</div>
														<ul class="scheda-calendario-lista">
															<li aria-hidden="false">
																Eventi culturali - 
																<a href="#" title="Vai all'appuntamento: Settembre DiVino">Settembre DiVino</a>
															</li>
														</ul>
													</div>
												</div>
												<div class="owl-item active">
													<div class="scheda-calendario">
														<div class="scheda-calendario-data">
															<strong>29</strong> dom
														</div>
														<ul class="scheda-calendario-lista">
															<li aria-hidden="false">
																Eventi culturali - 
																<a href="#" title="Vai all'appuntamento: Teatri di pietra 2019">Teatri di pietra 2019</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="owl-nav disabled">
											<button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button>
											<button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button>
										</div>
										<div class="owl-dots disabled">
											<button role="button" class="owl-dot active"><span></span></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
</div>