<section id="novita_evidenza">
					<article>
						<div class="novita-foto img-fit-cover"> 
							<img src="foto/swr1r_d0.jpg" alt="Cagliari SoloWomenRun" />
						</div>
						<div class="novita-testo">
							<div class="container">
								<div class="row">
									<div class="col-md-6">
										<h2><a href="#" title="Vai alla notizia: Cagliari SoloWomenRun: al via le iscrizioni all'edizione dei record">Cagliari SoloWomenRun: al via le iscrizioni all'edizione dei record</a></h2>
										<p>Aperte online le iscrizioni per la corsa rosa solidale, in programma domenica 8 marzo 2020. Nel primo giorno sono gi&agrave; 50 le donne iscritte, obiettivo fissato a 20mila partecipanti.</p>
										<div class="argomenti">
											<a href="#" title="Vai all'argomento: Sport" class="badge badge-pill badge-argomenti">Sport</a>
										</div>
										<a href="#" title="Vai alla pagina: Tutte le novità" class="tutte">Tutte le novità <svg class="icon"><use xlink:href="{{ site.baseurl }}/assets/img/ponmetroca.svg#ca-arrow_forward"></use></svg></a>
									</div>
								</div>
							</div>
						</div>
					</article>
				</section>