<script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />

<h2>Mappa BTS</h2>
<img src="{{ site.baseurl }}/assets/images/mappa.svg">
<br><br>
<div id='map' style='width: 100%; height: 500px;'></div>
<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoiYmluY28iLCJhIjoiY2o1NTN5dTNiMDJtdzMydGdybHh4cmFhMyJ9.SDvCSaNQC6xpSTqsJN1mCQ';
    var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/binco/ckcj5e01n0w661jo5k9n45x5t', // stylesheet location
        center: [13, 46], // starting position [lng, lat]
        zoom: 7.5
        // starting zoom
    });
</script>