<!-- window.__PUBLIC_PATH__ points to fonts folder location -->
<script>window.__PUBLIC_PATH__ = '{{ site.baseurl }}/assets/bootstrap-italia/dist/fonts'</script>

<!-- Bootstrap core JS -->
<script src="{{ site.baseurl }}/assets/bootstrap-italia/dist/js/bootstrap-italia.bundle.min.js"></script>

<!-- Main JS -->
<script src="{{ site.baseurl }}/assets/main.js"></script>


		<script src="{{ site.baseurl }}/assets/js/jquery-3.3.1.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/popper.min.js"></script>
		<script>window.__PUBLIC_PATH__ = '{{ site.baseurl }}/assets/font'</script>
		<script src="{{ site.baseurl }}/assets/js/bootstrap-italia_1.2.0.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/cagliari.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/jquery-ui.js"></script>
		<script src="{{ site.baseurl }}/assets/js/i18n/datepicker-it.js"></script>
		<script src="{{ site.baseurl }}/assets/js/angular.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/angular-animate.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/angular-aria.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/angular-messages.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/angular-sanitize.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/app.js"></script>
		<script src="{{ site.baseurl }}/assets/js/ricerca.js"></script>
		<script src="{{ site.baseurl }}/assets/js/ricerca-service.js"></script>
		<script src="{{ site.baseurl }}/assets/js/general-service.js"></script>
		<script src="{{ site.baseurl }}/assets/js/angular-material.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/filtri-controller.js"></script>
		<script src="{{ site.baseurl }}/assets/js/general-service.js"></script>
		<script src="{{ site.baseurl }}/assets/js/filtri-service.js"></script>
		<script src="{{ site.baseurl }}/assets/js/owl.carousel.min.js"></script> 




<script src="{{ site.baseurl }}/assets/js/allerta.js"></script>