<section id="siti_tematici">
    
    
    <div class="row pt-5">
          <h3>Siti tematici</h3>
        </div>
        <div class="py-4">
          <div
            class="card-wrapper card-teaser-wrapper card-teaser-wrapper-equal card-teaser-block-3"
          >
            <div class="card card-teaser card-bg-primary rounded">
              <div class="avatar size-lg mr-3">
                <img src="https://picsum.photos/200/200" alt="Immagine">
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  Mobilità in Comune
                </h5>
                <p class="card-text text-sans-serif">
                  Il sito del turismo del Comune e della Città Metropolitana
                </p>
              </div>
            </div>
            <div class="card card-teaser card-bg-warning rounded">
              <div class="avatar size-lg mr-3">
                <img src="https://picsum.photos/200/200" alt="Immagine">
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  Turismo
                </h5>
                <p class="card-text text-sans-serif">
                  Il sito che offre informazioni sulle attività turistiche attive in città
                </p>
              </div>
            </div>
            <div class="card card-teaser card-bg-dark rounded">
              <div class="avatar size-lg mr-3">
                <img src="https://picsum.photos/200/200" alt="Immagine">
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  Musei Civici
                </h5>
                <p class="card-text text-sans-serif">
                  Tutte le informazioni sui musei e gli eventi culturali della città
                </p>
              </div>
            </div>
          </div>
        </div>
				    <div class="container">
						<div class="widget">
							<div class="row">
								<div class="col-md-12">
									<div class="titolosezione">
										<h3>Siti tematici</h3>
									</div>
								</div>
							</div>
							<div class="row row-eq-height">
								<div class="col-lg-4 col-md-6 scheda-margine">
									<div class="scheda-sito" style="background-color:#2E7D32 !important;">
										<div class="icona-sito">
											<img class="icon" src="http://www.ambienteservizi.net/sites/default/files/img/icona-app.png">
										</div>
										<p>
											<a href="http://www.ambienteservizi.net" title="Vai al sito: Ambiente Servizi [Sito esterno]">
												<strong>Ambiente Servizi</strong><br>
												Servizio di raccolta differenziata dei rifiuti porta a porta
											</a>
										</p>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 scheda-margine">
									<div class="scheda-sito" style="background-color:#1565C0 !important;">
										<div class="icona-sito">
											<svg class="icon ca-ponmetro"><use xlink:href="{{ site.baseurl }}/assets/img/ponmetroca.svg#ca-description"></use></svg>
										</div>
										<p>
											<a href="http://albopretorio.regione.fvg.it/spilimbergo" title="Vai al sito: PON Metro [Sito esterno]">
												<strong>Albo pretorio</strong><br>
												Albo pretorio online Comune di Spilimbergo
											</a>
										</p>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 scheda-margine">
									<div class="scheda-sito" style="background-color:#BB4713 !important;">
										<div class="icona-sito">
											<svg class="icon ca-suape"><use xlink:href="{{ site.baseurl }}/assets/img/ponmetroca.svg#ca-suape"></use></svg>
										</div>
										<p>
											<a href="http://suap.regione.fvg.it/portale/cms/it/hp/index.html" title="Vai al sito: SUAP [Sito esterno]">
												<strong>SUAP</strong><br>
												Sportello unico per le attivit&agrave; produttive e per l'attivit&agrave; edilizia
											</a>
										</p>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 scheda-margine">
									<div class="scheda-sito" style="background-color:#9B0000 !important;">
										<div class="icona-sito">
											<svg class="icon ca-giunta"><use xlink:href="{{ site.baseurl }}/assets/img/ponmetroca.svg#ca-giunta"></use></svg>
										</div>
										<p>
											<a href="http://www.icspilimbergo.gov.it/" title="Vai al sito: IC Spilimbergo [Sito esterno]">
												<strong>IC Spilimbergo</strong><br>
												Istituto Comprensivo di SPILIMBERGO
											</a>
										</p>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 scheda-margine">
									<div class="scheda-sito" style="background-color:#455A64 !important;">
										<div class="icona-sito">
											<svg class="icon ca-consiglio"><use xlink:href="{{ site.baseurl }}/assets/img/ponmetroca.svg#ca-consiglio"></use></svg>
										</div>
										<p>
											<a href="https://www.isspilimbergo.edu.it" title="Vai al sito: IIS Il Tagliamento [Sito esterno]">
												<strong>IIS Il Tagliamento</strong><br>
												Istrituto d'istruzione superiore
											</a>
										</p>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 scheda-margine">
									<div class="scheda-sito" style="background-color:#6D4C41 !important;">
										<div class="icona-sito">
											<svg class="icon ca-iti"><use xlink:href="{{ site.baseurl }}/assets/img/ponmetroca.svg#ca-iti"></use></svg>
										</div>
										<p>
											<a href="#" title="Vai al sito: ITI Is Mirrionis [Sito esterno]">
												<strong>Smart Spilimbergo</strong><br>
												La città di Spilimbergo Smart
											</a>
										</p>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 scheda-margine">
									<div class="scheda-sito" style="background-color:#316A97 !important;">
										<div class="icona-sito">
											<svg class="icon ca-opendata"><use xlink:href="{{ site.baseurl }}/assets/img/ponmetroca.svg#ca-opendata"></use></svg>
										</div>
										<p>
											<a href="#" title="Vai al sito: Open Data [Sito esterno]">
												<strong>Open Data</strong><br>
												Progetto di esposizione dei dati dinamici mediante API.
											</a>
										</p>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 scheda-margine">
									<div class="scheda-sito" style="background-color:#846F5D !important;">
										<div class="icona-sito">
											<svg class="icon ca-elezioni"><use xlink:href="{{ site.baseurl }}/assets/img/ponmetroca.svg#ca-elezioni"></use></svg>
										</div>
										<p>
											<a href="#" title="Vai al sito: Elezioni [Sito esterno]">
												<strong>Elezioni</strong><br>
												Tutte le informazioni relative alle varie tornate elettorali
											</a>
										</p>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 scheda-margine">
									<div class="scheda-sito" style="background-color:#7E57C2 !important;">
										<div class="icona-sito">
											<svg class="icon ca-ufficicitta"><use xlink:href="{{ site.baseurl }}/assets/img/ponmetroca.svg#ca-ufficicitta"></use></svg>
										</div>
										<p>
											<a href="#" title="Vai al sito: Uffici di citt&agrave; [Sito esterno]">
												<strong>Uffici di citt&agrave;</strong><br>
												Punti di accesso alle informazioni sui principali quartieri di Cagliari
											</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
    </section>