<div class="it-header-slim-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-header-slim-wrapper-content">
          <a class="d-none d-lg-block navbar-brand" href="{{ site.data.t.owner.link }}" target="_blank"><img src="{{ site.baseurl }}{{ site.data.t.owner.icon }}"></a>
          <div class="nav-mobile">
            <nav>
              <a class="it-opener d-lg-none" href="{{ site.data.t.owner.link }}" role="button" target="_blank">
                  <img src="{{ site.baseurl }}{{ site.data.t.owner.small }}">
              </a>
            </nav>
          </div>
          <div class="header-slim-right-zone">
            <!--{% include header/header-lang-switch.html %}-->
            <div class="it-access-top-wrapper">
                <a class="btn btn-primary btn-icon btn-full" href="https://servizi.regione.fvg.it/portale"
                 title="Servizi online" target="_blank">
                                <span class="rounded-icon">
                  <svg class="icon icon-primary">
                    <use
                      xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-user"></use>
                  </svg>
                </span>
                    <span class="d-none d-lg-block">Servizi online</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
